.coursesdet {
    padding: 20px 10px;
    background-image: url('/images/about-home-bg.png');
    background-size: cover;
    background-position: center center;
}

.coursesdet-blok {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.coursesdet-blok__section-1 {
    padding: 20px;
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.coursesdet-blok__section-1__img {
    overflow: hidden;
    width: 700px;
    height: 400px;
    border-radius: 20px;
}

.coursesdet-blok__section-1 img {
    width: 700px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    transition: .5s;
}

.coursesdet-blok__section-1 img:hover {
    transform: scale(1.1);
}

.coursesdet-blok__section-1__container {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.coursesdet-blok__section-1__container-part {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.coursesdet-blok__section-1__container-part {
    color: var(--blue-color);
}

.coursesdet-blok__section-1__container__icon {
    color: var(--blue-color);
}

.coursesdet-blok__section-1__footer {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 0;
}

.coursesdet-blok__secttion-1__footer__part-1 {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}

.coursesdet-blok__section-1__footer p {
    font-size: 110%;
    font-weight: bold;
}

.coursesdet-blok__section-1__footer__star {
    color: gray;
    cursor: pointer;
    transition: color 0.2s;
    width: 40px;
    height: 40px;
}

.coursesdet-blok__section-1__footer__star.active {
    color: gold;
}




.coursesdet-blok__section-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 20px;
}

.coursesdet-blok__section-2-form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.coursesdet-blok__section-2-form-h3 {
    text-align: center;
    margin-bottom: 20px;
}

.coursesdet-blok__section-2__form__part-1 {
    display: flex;
    justify-content: start;
    gap: 5px;
}

.coursesdet-blok__section-2__form__part-2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.coursesdet-blok__section-2__form__part-2 textarea {
    padding: 10px;
    min-height: 20vh;
    max-height: 50vh;
    width: 100%;
    max-width: 700px;
    font-size: 102%;
}

.coursesdet-blok__section-2__form__part-2 button {
    padding: 10px 5px;
    font-size: 102%;
    transition: .5s;
    cursor: pointer;
    background-color: var(--blue-color);
    color: #fff;
    border: none;
}

.coursesdet-blok__section-2__form__part-2 button:hover {
    background-color: var(--red-color);
}

.coursesdet-blok__section-2__form__star {
    color: gray;
    cursor: pointer;
    transition: color 0.2s;
    width: 35px;
    height: 35px;
}

.coursesdet-blok__section-2__form__star.active {
    color: gold;
}




.coursesdet__reviews {
    background-color: var(--light-bg-color);
    padding: 10px;
    border-radius: 5px;
}

.coursesdet__reviews__img {
    width: 30px;
    height: 30px;
}

.coursesdet__reviews img:hover {
    transform: scale(1);
}

.coursesdet__reviews__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coursesdet__reviews__header__part-1 {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.coursesdet__reviews__header__part-1 img {
    width: 30px;
    height: 30px;
}

.coursesdet__reviews__header__part-2 p {
    font-size: 80%;
}

.coursesdet__reviews__section {
    padding: 10px 0 30px 0;
}

.coursesdet__reviews__section p {
    font-size: 90%;
    max-width: 720px;
}

.coursesdet__reviews__footer__p1 {
    color: var(--blue-color);
    transition: .5s;
    cursor: pointer;
}

.coursesdet__reviews__footer__p1:hover {
    text-decoration: underline;
}

.coursesdet__reviews__footer__container {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    align-items: center;
}

.coursesdet__reviews__footer__container div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.coursesdet__reviews__footer__container__button {
    transition: .5s;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.coursesdet__reviews__footer__container__button:hover {
    color: var(--blue-color);
}

.coursesdet__reviews__footer__icon {
    color: #000;
    transition: .5s;
    cursor: pointer;
}

.coursesdet__reviews__footer__icon:hover {
    color: var(--blue-color);
}

.coursesdet__reviews__rating {
    display: flex;
    justify-content: start;
    gap: 2px;
    margin-bottom: 10px;
}

.coursesdet__reviews__rating__icon {
    color: var(--blue-color);
}

.coursesdet-blok__layout {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.coursesdet__loadmore {
    padding: 5px;
    transition: .5s;
    cursor: pointer;
}

.coursesdet__loadmore:hover {
    opacity: .7;
}

@media (max-width: 1070px) {

    .coursesdet-blok {
        gap: 10px;
    }

    .coursesdet-blok__section-1__img {
        overflow: hidden;
        width: 500px;
        height: 350px;
        border-radius: 20px;
    }

    .coursesdet-blok__section-1__img img {
        width: 500px;
        height: 350px;
        object-fit: cover;
        border-radius: 20px;
        transition: .5s;
    }

    .coursesdet__reviews__section p {
        max-width: 500px;
    }
}

@media (max-width: 830px) {

    .coursesdet-blok__section-1__img {
        overflow: hidden;
        width: 450px;
        height: 320px;
        border-radius: 20px;
    }

    .coursesdet-blok__section-1__img img {
        width: 450px;
        height: 320px;
        object-fit: cover;
        border-radius: 20px;
        transition: .5s;
    }

    .coursesdet__reviews__section p {
        max-width: 450px;
    }
}

@media (max-width: 768px) {
    .coursesdet-blok {
        flex-wrap: wrap-reverse;
    }

    .coursesdet-blok__section-2 {
        width: 95%;
        align-items: center;
    }

    .coursesdet-blok__section-2 form {
        align-items: center;
    }

    .coursesdet-blok__section-2__form__part-2 button {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .coursesdet-blok__section-1 {
        width: 100%;
    }

    .coursesdet-blok__section-1__img {
        overflow: hidden;
        width: 100%;
        height: auto;
        border-radius: 20px;
    }

    .coursesdet-blok__section-1__img img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 20px;
        transition: .5s;
    }

    .coursesdet__reviews__section p {
        max-width: 100%;
    }

    .coursesdet-blok__section-2 {
        width: 100%;
    }
}

@media (max-width: 390px) {
    .coursesdet-blok__section-1__container-part p {
        font-size: 90%;
    }

    .coursesdet-blok__section-1__container__icon {
        width: 15px;
        height: 15px;
    }
}