.header {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    background-image: linear-gradient(rgba(0, 0, 0, 0.886), rgba(0, 0, 0, 0.574)), url('/images/header.bg.jpg');
    background-size: cover;
    background-position: center;
}

.header-blok {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: center;
    color: #fff;
    padding: 100px;
}

.header__h1-1 {
    font-size: 230%;
    margin-bottom: 20px;
    font-weight: 400;
}

.header__h1-2 {
    font-size: 370%;
    margin-bottom: 10px;
}

.header-blok p {
    font-weight: bold;
    font-size: 105%;
    margin-bottom: 30px;
}

.header-blok a {
    text-decoration: none;
    width: 200px;
}

.header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    border: none;
    padding: 20px 15px;
    font-weight: bold;
    border-radius: 10px;
    width: 200px;
    font-size: 102%;
    cursor: pointer;
    transition: .5s;
    text-decoration: none;
    background-color: var(--blue-color);
}

.header-blok a:hover .header__button {
    background-color: var(--red-color);
}

.header__icon {
    transition: .5s;
}

.header-blok a:hover .header__icon {
    transform: translateX(10px);
}

@media (max-width: 768px) {
    .header {
        justify-content: center;
    }
    .header-blok {
        padding: 10px;
        align-items: center;
    }
    .header__h1-1 {
        font-size: 100%;
    }
    .header__h1-2 {
        font-size: 250%;
    }
}