.partners {
    position: relative;
    background-color: #F3F7FB;
    padding: 50px 10px;
    /* Добавлено дополнительное пространство для текста */
    text-align: center;
    overflow: hidden;
}

.partners::before {
    content: "OUR PARTNERS";
    /* Текст фона */
    position: absolute;
    top: 50%;
    /* Центрирование по вертикали */
    left: 50%;
    /* Центрирование по горизонтали */
    transform: translate(-50%, -50%);
    font-size: 80px;
    /* Размер текста */
    font-weight: 700;
    /* Толщина шрифта */
    color: rgba(0, 0, 0, 0.05);
    /* Цвет текста с прозрачностью */
    z-index: 1;
    /* Размещено под элементами */
    white-space: nowrap;
    /* Отключение переноса */
    letter-spacing: 20px;
}

.partners-blok {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
    z-index: 2;
    /* Чтобы изображения были выше текста фона */
}

.partners-blok__section img {
    width: 87px;
    height: 87px;
    filter: grayscale(100%);
    /* По умолчанию серое */
    transition: filter 0.3s ease;
    cursor: pointer;
}

.partners-blok__section img:hover {
    filter: grayscale(0);
    /* При наведении свой цвет */
}

@media (max-width: 868px) {
    .partners::before {
        letter-spacing: 2px;
        font-size: 45px;
    }
}