.services {
    padding: 20px 10px;
}

.services-blok {}

.services-blok h1 {
    text-align: center;
    color: #000;
    font-size: 270%;
    margin-bottom: 45px;
}

.services-blok__header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}

.services-blok__header p {
    color: var(--blue-color);
}

.services-blok__header__icon {
    color: var(--blue-color);
}

.services-blok__section__container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.services-blok__section__container-part {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 17px 0px rgba(181, 181, 181, 1);
    transition: .5s;
    cursor: pointer;
    position: relative;
    /* Для создания слоя */
}

.services-blok__section__container-part:hover .services__icon {
    color: red;
}

.services-blok__section__container-part:hover .services-icon {
    border-top: 3px solid red;
}

.services-blok__section__container-part h2 {
    font-weight: 500;
    margin-bottom: 20px;
}

.services-blok__section__container-part p {
    max-width: 300px;
    line-height: 1.5;
    font-size: 105%;
    color: var(--text-color);
    margin-bottom: 20px;
}

.services-img {
    display: flex;
    margin: auto;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    /* Скрываем все выходящее за границы */
}

.services-blok__section__container-part img {
    width: 250px;
    height: 120px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.services-blok__section__container-part:hover img {
    transform: scale(1.1);
    /* Увеличиваем изображение при наведении */
}

.services-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.438);
    /* Полупрозрачный черный фон */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    /* Скрыто по умолчанию */
    transition: opacity 0.5s ease;
    /* Плавное появление */
    border-radius: 10px;
    /* Совпадает с радиусом изображения */
}

.services-overlay-icon {
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-overlay__icon {
    color: #fff;
    width: 40px;
    height: 40px;
    text-decoration: none;
}

.services-icon {
    padding: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border-top: 3px solid var(--blue-color);
    margin-bottom: 20px;
    box-shadow: 0px 20px 39px -9px rgba(204, 204, 204, 1);
    transition: .5s;
}

.services__icon {
    width: 50px;
    height: 50px;
    color: var(--blue-color);
    transition: .5s;
}

.services-blok__section__container-part:hover .services-overlay {
    opacity: 1;
}

@media (max-width: 663px) {
    .services-blok h1 {
        font-size: 230%;
        margin-bottom: 35px;
    }
}

@media (max-width: 620px) {

    .services-blok__section__container-part {
        padding: 20px 10px;
    }

    .services-blok__section__container-part img {
        width: 200px;
        height: 90px;
    }

    .services-blok__section__container-part h2 {
        text-align: center;
    }

    .services-icon {
        display: flex;
        margin: auto;
    }

    .services-blok__section__container {
        gap: 15px;
    }

    .services-blok__section__container-part p {
        font-size: 100%;
    }
}

@media (max-width: 477px) {
    .services-blok__section__container {
        display: flex;
        justify-content: center;
        gap: 5px;
    }

    .services-blok__section__container-part img {
        width: 180px;
        height: 90px;
    }
}

@media (max-width: 421px) {
    .services-blok__section__container-part img {
        width: 150px;
        height: 90px;
    }
}