.pagename {
    background-image: url('/images/title-bg.png');
    background-position: center;
    background-blend-mode: multiply;
    background-color: #090028a5;
    background-repeat: no-repeat;
    background-size: cover;
}

.pagename-blok {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    color: #fff;
    text-transform: capitalize;
}

.pagename-blok h1 {
    font-size: 280%;
    color: var(--blue-color);
    text-transform: uppercase;
    font-family: "Jost", sans-serif;
}

.pagename-blok h2 {
    text-align: center;
    font-family: "Jost", sans-serif;
}

.pagename-blok__section {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 110%;
    margin-top: 10px;
}

.pagename-parent {
    text-decoration: none;
    transition: .3s;
    color: #fff;
    font-family: "Jost", sans-serif;
}

.pagename-parent:hover {
    color: var(--blue-color);
}

.pagename-child {
    font-family: "Jost", sans-serif;
}

.pagename-icon {
    margin: 0 10px;
}

@media (max-width: 480px) {
    .pagename {
        background-image: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02)), url('/images/title-bg.png');
        background-position: center;
        background-size: contain;
        background-attachment: local;
        background-size: cover;
    }
}

@media (max-width: 435px) {
    .pagename-blok h1 {
        font-size: 170%;
    }
}

@media (max-width: 350px) {
    .pagename-parent {
        font-size: 90%;
    }

    .pagename-child {
        font-size: 90%;
    }

    .pagename-drop {
        font-size: 90%;
    }
}